@font-face {
    font-family: Nunito;
    src: url("./Nunito-Bold.ttf");
}

body {
    background:#181617;
    font-family:Nunito;
    color:white;
    text-align: center;
}
main {
    margin-top:50px;
}
button.link {
    background:#181617;
    border:2px solid #ffffff;
    color:white;
    border-radius:1000px;
    margin:15px;
    height:50px;
    max-width:500px;
    position:relative;
}
button.link:hover {
    background:rgb(255, 255, 255);
    color:black;
    border:none;
}
button.link:active {
    background:rgb(255, 255, 255);
    color:black;
    border:none;
}
button.link:focus {
    background:rgb(255, 255, 255);
    color:black;
    border:none;
}
img#profile-pic {
    max-width:125px;
}
hr {
    border-bottom:2px solid white;
    height:0px;
    width:80%;
    margin:20px auto;
}
p#account-name {
    text-align:center;
    color:white;
    font-size:24px;
    margin:20px;
}
span.span-icon {
    left:20px;
    position:absolute;
    font-size:24px;
}
p#desc {
    margin:0;
    font-size:14px;
}
a#link-source-code {
    text-decoration:underline;
    color:white;
    font-size:14px;
}